@import '../../../assets/styles/fonts.scss';
@import '../../../assets/styles/variables.scss';

.selects {
  margin: 5px;

  &.standard {
    box-sizing: border-box;
    width: 300px;
    font-family: $font-text;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    overflow: visible;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

  &.language {
    box-sizing: border-box;
    width: 300px;
    font-family: $font-text;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    border-radius: 0.25rem;
    overflow: visible;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-indent: 1px;
    text-overflow: '';
    color: #ffffff;
    background-color: transparent;
    border: 1px solid #ffffffef;
    transition: background 0.2s ease-in-out;

    &:hover {
      background-color: #ffffff2f;
    }

    option {
      background-color: $color-bg-header-footer;
    }
  }
}

.selects-container {
  background-color: $color-bg-header-footer;
}

.text {
  margin: 5px;
  font-family: $font-text;
}
