@import '../../../assets/styles/variables.scss';

.table {
  margin-bottom: 2rem;

  @media (max-width: 992px) {
    font-size: 0.85rem;
  }

  @media (max-width: 700px) {
    font-size: 0.7rem;
  }

  @media (max-width: 400px) {
    font-size: 0.6rem;
  }
}



.works-container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.works-table-container {
  .works-table-title {
    text-transform: uppercase;
    margin: 50px 0 20px;
    text-align: center;
    font-family: $font-title;
    color: $color-text;

    &:after {
      content: '';
      display: block;
      width: 100%;
      height: 1px;
      margin: 10px auto;
      background-color: rgb(151, 151, 151);
    }

    @media (max-width: 992px) {
      font-size: 1.2rem;
    }

    @media (max-width: 700px) {
      font-size: 1rem;
    }

    @media (max-width: 400px) {
      font-size: 0.8rem;
    }
  }
}

@media screen and (max-width: 840px) {
  .table-author {
    border: 0;

    thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }

    tr {
      border-bottom: 3px solid rgb(177, 162, 162);
      display: block;
      margin-bottom: 0.625em;
    }

    td {
      display: block;
      font-size: 0.8em;
      text-align: right;

      &:before {
        content: attr(data-work);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
      }

      &:last-child {
        border-bottom: 0;
      }
    }
  }
}
