@import '../../../assets/styles/variables.scss';

.about__cards {
  .card {
    width: 18rem;
    margin: 10px 30px;
    padding-top: 0;
    border-radius: $radius;
    border: none;
    background: transparent;
    color: $color-text;
    box-shadow: $box-shadow;
    transition: transform 0.2s ease-in-out;

    &:hover {
      transform: translateY(-10px) scale(1.02);
      .card-body {
        background-position: -100% 0;
      }
    }

    .card-body {
      margin-top: 5px;
      flex-direction: column;
      border: 1.5px solid $color-text;
      background: linear-gradient(
        to right,
        rgba(255, 255, 255, 0) 50%,
        rgb(196, 166, 131) 50%
      );
      background-size: 200%;
      background-position: 0 0;
      transition: 0.5s ease-in-out;

      .card__link {
        display: flex;
        margin-bottom: 10px;
        cursor: pointer;

        img {
          width: 20px;
          height: 20px;
          margin-right: 5px;
        }
      }

      p {
        text-align: center;
      }
    }
  }
}
