@import "../../assets/styles/variables.scss";
@import "../../assets/styles/fonts.scss";

.content {

    .row {

        .col_item1 {
            
            .main_title {
                margin-bottom: 20px;
                font-family: $font-title;
                font-size: 3rem;
                color: $color-text;
                text-align: center;
            }
        }
    }
}