@import '../../../assets/styles/variables.scss';

@mixin carousel-size($w, $h) {
  width: $w;
  height: $h;

  @media (max-width: 700px) {
    width: $w - 50px;
    height: $h - 50px;
    margin-bottom: 0;
  }

  @media (max-width: 450px) {
    width: $w - 100px;
    height: $h - 150px;
    margin-bottom: 0;
  }
}

.carousel {
  @include carousel-size($carousel-width, $carousel-height);

  @media (max-width: 992px) {
    margin: 0 auto;
  }
}

.carousel-inner {
  @include carousel-size($carousel-width, $carousel-height);
}

.carousel-indicators {
  bottom: 100px;
}

.carousel-item.active {
  @include carousel-size($carousel-width, $carousel-height);
}

.carousel-control-prev {
  left: 15px;
}

.carousel-control-next {
  right: 15px;
}

.gallery-title {
  text-transform: uppercase;
  margin: 50px 0 20px;
  text-align: center;
  font-family: $font-title;
  color: $color-text;

  &:after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    margin: 10px auto;
    background-color: rgb(151, 151, 151);
  }

  @media (max-width: 992px) {
    font-size: 1.2rem;
  }

  @media (max-width: 700px) {
    font-size: 1rem;
  }

  @media (max-width: 400px) {
    font-size: 0.8rem;
  }
}

.gallery-container {
  display: flex;
  flex-direction: column;

  .gallery {
    align-self: center;
  }
}
