@import '../../../assets/styles/fonts.scss';
@import '../../../assets/styles/variables.scss';

.buttons {
  margin: 5px;

  &.primary {
    box-sizing: border-box;
    width: 300px;
    color: $color-text-btn;
    font-family: $font-text;
    background-color: $color-btn;
    user-select: none;
    cursor: pointer;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    border: 1px solid #6c757d;

    &:hover {
      color: $color-text-black;
      background-color: $color-btn-hover;
    }

    &:active {
      color: $color-text-black !important;
      background-color: $color-btn-active !important;
    }
  }
}

.text {
  margin: 5px;
  font-family: $font-text;
}
