@import '../../../assets/styles/variables.scss';

.Author-page__map-container {
  align-self: center;
  width: 500px;
  height: 400px;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: $box-shadow;

  @media (max-width: 688px) {
    width: 400px;
    height: 300px;
  }

  @media (max-width: 500px) {
    width: 300px;
    height: 300px;
  }

  @media (max-width: 400px) {
    width: 250px;
    height: 250px;
  }
}

.map-title {
  text-transform: uppercase;
  margin: 50px 0 20px;
  text-align: center;
  font-family: $font-title;
  color: $color-text;

  &:after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    margin: 10px auto;
    background-color: rgb(151, 151, 151);
  }

  @media (max-width: 992px) {
    font-size: 1.2rem;
  }

  @media (max-width: 700px) {
    font-size: 1rem;
  }

  @media (max-width: 400px) {
    font-size: 0.8rem;
  }
}

.map-container {
  display: flex;
  flex-direction: column;
}
