@import '../../../assets/styles/fonts.scss';
@import '../../../assets/styles/variables.scss';

.fonts {
  margin: 5px;

  &.title {
    font-size: 16px;
    font-family: $font-title;
  }

  &.content {
    margin: 5px;
    font-size: 16px;
    font-family: $font-text;
  }
}
