@import 'node_modules/react-modal-video/scss/modal-video.scss';
@import '../../../assets/styles/variables.scss';

.Author-page_youtube-button {
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  margin: 1rem;

  &:hover {
    background-color: #faebd7;
  }
}

.Author-page_youtube-logo {
  width: 3rem;
  height: 3rem;
}
