@import '../../assets/styles/variables.scss';

.header {
  margin-bottom: 20px;
  padding: 0;
  font-size: large;
  background-color: $color-bg-header-footer;
  box-shadow: $box-shadow-header;

  .navbar {
    padding: 0 1rem;

    .navbar-nav {
      margin-right: 30px;

      a {
        color: $color-nav-text;
        transition: color 0.2s ease-in-out;

        &:hover {
          color: $color-nav-text-hover;
        }
      }

      .disabled {
        color: $color-nav-text-disabled;
      }
    }
  }

  .header_logo {
    display: flex;
    align-items: flex-end;
    flex-grow: 1;

    .header_logo__img {
      width: 100px;
      height: 68px;
    }

    h1 {
      margin-left: 5px;
      font-size: 16px;
      color: $color-nav-text;
      font-family: $font-title;
    }
  }

  form {
    .form-control {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      text-indent: 1px;
      text-overflow: '';
      color: #ffffff;
      color: $color-nav-text;
      background-color: transparent;
      border: 1px solid $color-nav-text;
      transition: background 0.2s ease-in-out;

      &:hover {
        background-color: #ffffff2f;
      }

      .form-option {
        background-color: $color-bg-header-footer;
        min-height: 20px;
        height: 100px !important;
        transition: all 1s ease-in-out;
      }
    }
  }
}

@media (max-width: 800px) {
  .header {
    .navbar-expand {
      flex-flow: column nowrap;
    }

    form {
      .form-control {
        margin: 20px 0;
      }
    }
  }
}

@media (max-width: 400px) {
  .header {
    .navbar {
      .navbar-nav {
        flex-direction: column;
      }
    }
  }
}
