.footer {
  margin-bottom: 0;
  margin-top: 1rem;
  position: absolute; 
  left: 0;
  right: 0;
  bottom: 0; 
  height: 82px; 
}

.footer_item {
  justify-content: space-between;
}

.footer_item a {
  color: rgba(0, 0, 0, 0.5);
}
