@import "../../assets/styles/variables.scss";

.footer {
  margin-bottom: 0;
}

.footer_item {
  justify-content: space-between;
}

.footer_item a {
  // you can use variable here as
  color: $color-footer;
}
