@import '../../assets/styles/variables.scss';

.footer {
  flex: 0 0 auto;
  margin: $margin-around-main-content 0 0;
  padding: 0.5rem 2rem;
  background-color: $color-header-footer;

  .footer_item {
    justify-content: space-between;
    padding: 0;

    a {
      // you can use variable here as
      color: $text-color-footer;
    }

    .nav-link {
      padding: 0 0.5rem;
    }
  }
}
