@import '../../../assets/styles/variables.scss';

.btn-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: auto;
}

.btn-outline-secondary {
  color: black;
  font-family: $font-over;
  background: rgba(250, 235, 215, 0.8);
}


a:hover {
  text-decoration: none;
}
