@import '../styles/variables.scss';

html,
body {
  height: 100%;

  #root {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: $font-text;
  }
}

.content {
  flex: 1 0 auto;
}
