html { 
    height: 100%; 
}

body {
  min-height:100%; 
  position:relative; 
  padding-bottom: 70px; 
}

.footer_item a,
.col_item1 .main_title {
    color: rgba(0,0,0,.5);
}

.navbar {
    padding: 0 1rem;
}

.alert {
    padding: 0.1rem 1.25rem;
}