@import '../styles/variables.scss';

html {
  min-height: 100vh;
}

body {
  min-height: 100vh;
  height: 100%;
  scroll-behavior: smooth;

  #root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: 100%;
    font-family: $font-text;
    background: $color-body-gradient;
  }
}

.content {
  flex: 1 0 auto;
  opacity: 0.8;
  transition: 1s;
  animation: show 1s ease;
  animation-fill-mode: forwards;
  animation-delay: 0s;
}

@keyframes show {
  0% {
    opacity: 0.8;
  }

  100% {
    opacity: 1;
  }
}

@media only screen and (min-width: 1440px) {
  .content {
    max-width: 1260px;
  }
}

@media only screen and (min-width: 1600px) {
  .content {
    max-width: 1460px;
  }

  .row {
    .main_title {
      font-size: 4rem !important;
    }

    .main_description {
      font-size: 2rem;
    }
  }

  .main-block2 {
    max-width: 1400px;

    .main-block2__title {
      font-size: 3rem;
    }
  }

  .row {
    .main-block2__img {
      img {
        width: 350px !important;
      }
    }
  }
}

@media only screen and (min-width: 1800px) {
  .content {
    max-width: 1660px;
  }
}

@media only screen and (min-width: 2000px) {
  .content {
    max-width: 1860px;
  }
}
