@import '../styles/variables.scss';

html {
  min-height: 100vh;
}

body {
  min-height: 100vh;
  height: 100%;

  #root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: 100%;
    font-family: $font-text;
    background: $color-body-gradient;
  }
}

.content {
  flex: 1 0 auto;
}
