// it's an example, do as you need
// define a variables, then import this file in file, where it needs

$text-color-footer: rgba(0, 0, 0, 0.75);
$margin-around-main-content: 16px;
$color-header-footer: rgb(255, 208, 147);
