$font-title: 'Playfair Display', sans-serif;
$font-text: 'Merriweather', sans-serif;
$font-button: 'Roboto', serif;

$color-text: rgba(0, 0, 0, 0.6);
$color-text-black: #000000;
$color-bg-header-footer: #663036;
$color-bg-main-block2: rgba(39, 39, 39, 0.651);
$color-nav-text: #ffffffef;
$color-nav-text-disabled: #ffcaa7;
$color-nav-text-hover: #ffb788;
$color-body-gradient: linear-gradient(to bottom, #ffefd1, #d6a57c) no-repeat;
$color-btn: rgba(250, 235, 215, 0.8);
$color-btn-hover: #c59fa3d8;
$color-btn-active: #b3797fd8;

$radius: 6px;

$box-shadow: 5px 5px 20px -15px #000000;
$box-shadow-footer: 0px 0px 20px -10px #000000;
$box-shadow-header: 0px 0px 20px -5px #000000;
