$color-text: rgba(0, 0, 0, 0.5);
$bg-header-footer: #faebd7;
$color-bg-main-block2: rgba(39, 39, 39, 0.5);
$radius: 6px;
$font-title: 'Playfair Display', sans-serif;
$font-text: 'Merriweather', sans-serif;
$font-button: 'Roboto', serif;
